<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c8e7f3706a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/login_register.css">
    <title>Formulario Registro</title>
</head>
<body>
<form class="formulario">
    <h1 class="titulo-formulario">Registrate</h1>
    <div class="contenedor-formulario">
    <div class="input-contenedor">
        <i class="fa-solid fa-user"></i>
        <input type="text" placeholder="Nombre Completo">
    </div>
    <div class="input-contenedor">
        <i class="fa-solid fa-envelope"></i>
        <input type="email" placeholder="Correo Electronico">
    </div>
    <div class="input-contenedor">
        <i class="fa-solid fa-key"></i>
        <input type="password" placeholder="Contraseña">
    </div>
    <input type="submit" value="Registrate" class="button">
    <p class="texto-formulario">Al registrarte aceptas las Condiciones de uso y las Politicas de privacidad </p>
    <p class="texto-formulario">¿Ya tienes cuenta? <a class="link-formulario" href="login.html">Iniciar Sesion</a></p>
    </div>
</form>





<footer class="footer"> 
    <div class="container-footer">
    <div class="row-footer">
    <div class="footer-col">
        <h4>EMPRESA</h4>
        <ul>
            <li><a href="#">Acerca de nosotros</a></li>
            <li><a href="#">Politicas de privacidad</a></li>
            <li><a href="#">Nuestros servicios</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>AYUDA</h4>
        <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Medios de pago</a></li>
            <li><a href="#">Estado de mi pedido</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>PEDIR ONLINE</h4>
        <ul>
            <li><a href="#">Sucursales</a></li>
            <li><a href="#">Take away</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Hace tu pedido!</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4> SEGUINOS</h4>
        <div class="redes-sociales-footer">       
         <ul>
            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
    </div>
    </div>
    </div>
    </div>
</footer>
</body>
</html>