@import url('generales.css');
@import url('header.css');
@import url('footer.css');
/* MAIN */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-size: cover;
    background-attachment:fixed ;
    background-color: white;
    height: 100%;
}

h1{
    font-style:italic;
    color: #24262b;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.carrito-compra{
    height: 100%;
}




.contenedor{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    
}




.detalle-pedido{
   width: 70%;
   height: 70%;
   font-size: 20px;
   justify-items: auto;
}


.productos-carrito{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1%;
    margin-top: 1%;
    align-items: center;
}



.detalle-subtotal{
    width: 30%;
    border: 0.8px solid black;
}

.detalle-subtotal section .subtotal{
    padding-top: 40px;
}


img {
    width: 10%;
    height: 10%;
}


.info-pedido{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1%;
    margin-top: 1%;
}

section{
    width: 100%;
    height: 100%;
    border: 0.3px solid black;
}


.subtotal-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    justify-content: space-between;
}

.subtotal-info button{
    width: 50%;
    height: 20%;
    margin-left: 25%;
    margin-bottom: 20px;
    border-radius: 10%;
}

.subtotal-info button:hover{
    background: #24262b;
    color: #fff !important;
}

.precio-final{
    font-size: 100%;
}

.subtotal-info p{
    margin-left: 5%;
}

.subtotal-info h2{
    font-size: 100%;
    text-align: center;
    margin-top: 4%;
    
}

.botones{
    padding-left: 70%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.botones button{
    border-radius: 10%;
  
}
.botones button:hover{
    background: #24262b;
    color: #fff !important;
}


@media (max-width: 500px){
    .info-pedido{
        display: flex;
        flex-direction: row;
        font-size: 80%;
    }

}


/* FIN MAIN */



