/* HEADER */
.header-container-gral {
  background-color: #1d1c1b;
  height: 13vh; /* -Lucas- Aca Cambie la medida para poder adaptar el resto de la pag */
  width: 100%;
}
.header-container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
/* LOGO */
.header-container-logo {
  flex: 0 1 auto;
}
.img-logo {
  width: 80px;
  margin: 15px;
  display: block;
  margin: auto;
}

/* BUSCADOR */
.input-search {
  font: inherit;
}
.header-container-search {
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin: 8px;
  
}

.form-search {
  margin: auto;
}
.div-input {
  display: flex;
  background-color: #fff;
  padding: 4.5px 11px 4.5px 13px;
  border-radius: 30px;
  border: 3px solid #608a3c;
}
.form-search .input-search {
  border: none;
  background-color: transparent;
  font-weight: normal;
  color: black;
  padding-left: 34px;
  background-image: url(../images/icons/search2.png);
  background-size: 33px;
  background-repeat: no-repeat;
  width: 100%;
  
}
.form-search .input-search:focus {
  outline: none;
  width: none;
}

/* BOTON DESPLEGABLE */
.header-container-nav {
  flex: 0 1 auto;
  order: 3;
}
.btn-nav-bars {
  color: #608a3c;
  margin-right: 10px;
  cursor: pointer;
  width: 30px;
  display: block;
  margin: auto;
}
.btn-nav-bars:hover {
  background-color: rgba(96, 138, 60, 0.2);
  border: 1px solid rgba(96, 138, 60, 0.5);
  border-radius: 3px;
  padding: 2px;
  transition: all 0.2s;
}
/* MENU DE NAVEGACION */
.nav-label {
  display: block;
  cursor: pointer;
}
.nav-menu-link {
  position: fixed;
  top: 65px;
  bottom: 0;
  background-color: rgba(29, 28, 27, 0.97);
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  clip-path: circle(0 at center);
  transition: clip-path 0.75s ease-in-out;
}

.nav-link {
  color: #608a3c;
  text-decoration: none;
  font-weight: 600;
}
.nav-link:hover {
  background-color: rgba(96, 138, 60, 0.5);
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #608a3c;
  color: #a7f067;
}

.check-input:checked + .nav-menu-link {
  clip-path: circle(100% at center);
}
/* SHOPPING PHONE*/
.header-container-shopping {
  flex: 0 1 auto;
  cursor: pointer;
  order: 1;
}

.img-shopping {
  width: 600px;
  display: block;
  margin: auto;
}

.img-shopping {
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
}
.img-shopping:hover {
  width: 35px;
  height: 35px;
  background-color: rgba(96, 138, 60, 0.1);
  border-radius: 5px;
  border: 1.5px solid rgba(96, 138, 60, 1);
  padding: 2px;
  transition: all 0.2s;
}
.header-container-shopping-desktop {
  display: none;
}
/* AVATAR*/
.header-container-avatar {
  display: none;
}


.check-input {
  display: none;
}
@media (min-width: 768px) {
  .header-container-gral {
    /* aca agregue el alto del header porque se modificaba mucho, cuando lo ampliaba a desktop */
    height: 100px;
  }
  .header-container-search {
    order: 1;
  }

  .img-logo {
    width: 120px;
  }

  .header-container-nav {
    order: 0;
  }

  .nav-menu-link {
    position: relative;
    top: 0px;
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
    clip-path: none;
  }
  .nav-link {
    color: #608a3c;
    text-decoration: none;
    --clippy: polygon(0 1%, 0 0, 0 100%, 0% 100%);
  }
  .nav-link::after {
    content: "";
    display: block;
    background-color: #fff;
    width: 100%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path 0.4s;
  }
  .nav-link:hover {
    --clippy: polygon(0 1%, 100% 0, 100% 100%, 0 100%);
  }
/* BUSCADOR */
  .form-search .input-search {
    width: 0px;
    transition: all 1s;
  }
  .form-search .input-search:focus {
    outline: none;
    width: 194px;
  }
  /* Carrito de Compras */
  .header-container-shopping-phone {
    display: none;
  }
  .header-container-shopping-desktop {
    display: block;
    flex: 0 1 auto;
    cursor: pointer;
    order: 1;
  }

  .img-shopping {
    width: 600px;
    display: block;
    margin: auto;
  }

  .img-shopping {
    width: 50px;
    display: block;
    margin: auto;
  }
  .img-shopping:hover {
    width: 35px;
    height: 35px;
    background-color: rgba(96, 138, 60, 0.1);
    border-radius: 5px;
    border: 1.5px solid rgba(96, 138, 60, 1);
    padding: 2px;
    transition: all 0.2s;
  }
  /* Avatar */
  .header-container-avatar {
    display: block;
    flex: 0 1 auto;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #608a3c;

    position: relative;

    order: 2;
  }
  .img-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: block;
    margin: auto;
  }
  .avatar-state {
    position: absolute;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
  }
  .nav-label,
  .check-input {
    display: none;
  }
}
/* END HEADER */
