main{
    width: 100%;
    position: relative;
    
}

/* SLIDER */
.slider{
    position: relative;
} 
.slider .slider_container ul.slides{
    position: relative;
}

.slider .slider_container ul.slides li{
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition: opacity .5s;
}

.slider .slider_container .slides li img {
    width: 100%;
    height:85vh;
    object-fit: cover;
}

.slider .slider_container .slides li:first-child{
    opacity: 1;
}

.slider .slider_container .slides li:target{
    opacity: 1;
}

/* Texto Slider */
.text_container{
    display: flex;
    justify-content: center;
}

.texto{
    text-align: center;
    position: absolute;
    top: 35vh; 
    font-family: sans-serif;
    padding: 0;
}
.texto span a{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.5);
    padding: 5px 15px;
}

/* Menu Slider */

.menu{
    display: flex;
    justify-content: center;
}

ul.menu_slider{
    position: absolute;
    top: 40vh;
    margin-top: 10px;
}

ul.menu_slider li{
    display: inline-block;
}

ul.menu_slider li a{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    width: 1rem;
    height: 1rem;
    font-size: 1rem;    
    border-radius: 100%;
}

.btn_img{
    margin: 0.5rem;
}



.slider2_container{
    position: relative;
}

.tweets li{
    position: absolute;
    width: 300px;
    height: 200px;
    top: 100vh;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity .5s;
    
}
.twitter-tweet{
    height: 200px;
}



.tweets li:first-child{
    opacity: 1;
}

.tweets li:target{
    opacity: 1;
}
 
.menu_tweets{
     display: flex; 
     justify-content: center; 
    
    /* position: relative; */
}

.menu_tweets ul li{
    display: inline-block;
    
}

.menu_tweets ul.btns{
    position: absolute;
    top:115vh ;    
    display: inline-block;
    text-align: center;
    /* left: 50%;
    right: 50%;
    transform: translate(-50%,-50%); */
}
.btn_slide{
    display: inline-block;
    background-color: grey;
    padding: 10px;
  width: 10px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
  margin: 5px;
}

/* Mapa */
.ubicacion{
    width: auto;
    position: absolute;
    top: 160vh;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    margin-top: 1rem;
    border-top: solid #1d1d1d 1px;
    border-bottom: solid #1d1d1d 1px;
}
.mapa{
    height: 30vh;
}

/* WSP */

/* .wsp{
    position: fixed;
    bottom: 1rem;
    right: 1.5rem;
    color: #25D366 ;
    font-size: 2rem;
} */


@media (min-width: 768px){
    /* Texto slider1 */
    .texto{
        text-align: center;
        position: absolute;
        top: 40vh; 
        font-family: sans-serif;
        padding: 0;
    }
    .texto span a{
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        color: rgba(255, 255, 255, 0.5);
        padding: 5px 15px;
    }
    
    /* Menu Slider */
    
    .menu{
        display: flex;
        justify-content: center;
    }
    
    ul.menu_slider{
        position: absolute;
        top: 43vh;
    }
    
    /* Slider Tweet */

    .tweets li{
        width: 350px;
        top: 95vh;
    }

    /* Menu Slider Tweet */
    .menu_tweets ul.btns{
        display: inline-block;
        text-align: center;
        position: absolute;
        top: 105vh;
    } 

    /* Mapa */
    .ubicacion{
        position: absolute;
        top: 145vh;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 10px;
        border-top: solid #1d1d1d 1px;
        border-bottom: solid #1d1d1d 1px;
    }
    .mapa  {
        width: 90vw;
        height: 30vh; 
        
    }
    
}



@media (min-width:1024px){
    .slider2_container{
        position: relative;
    }
    
    .tweets li{
        position: absolute;
        top: 105vh;
        left: 50%;
        opacity: 0;
        transition: opacity .5s;
        transform: translate(-50%, -50%);
        
    }
    
    
    .menu_tweets ul.btns{
        top: 120vh;
    }
    .btn_slide{
      padding: 15px;
      margin: 5px;
    }


    .ubicacion{
        position: absolute;
        top: 160vh;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 10px;
        border-top: solid #1d1d1d 1px;
        border-bottom: solid #1d1d1d 1px;
    }
    .mapa  {
        width: 90vw;
        height: 40vh; 
        
    }
}



/* 
@media (min-width){

} */