<!-- FOOTER -->

<footer class="footer">
    <div class="container-footer">
        <div class="row-footer">
            <div class="footer-col">
                <h4>EMPRESA</h4>
                <ul>
                    <li><a href="#">Acerca de nosotros</a></li>
                    <li><a href="#">Politicas de privacidad</a></li>
                    <li><a href="#">Nuestros servicios</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>AYUDA</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Medios de pago</a></li>
                    <li><a href="#">Estado de mi pedido</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>PEDIR ONLINE</h4>
                <ul>
                    <li><a href="#">Sucursales</a></li>
                    <li><a href="#">Take away</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Hace tu pedido!</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4> SEGUINOS</h4>
                <div class="redes-sociales-footer">
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>