<head>
    <link rel="shortcut icon" href="/images/Logo/Recurso 12.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/45870a9a9c.js" crossorigin="anonymous"></script>
    <title>Resto Sushi</title>
</head>