<!-- HEADER -->
<header class="header-container-gral">
    <div class="header-container">
        <!-- LOGO -->
        <div class="header-container-logo">
            <img src="/images/Logo/Recurso 12.png" alt="Logo" class="img-logo">
        </div>
        <!-- BUSCADOR -->
        <div class="header-container-search">
            <form autocomplete="of" class="form-search">
                <div class="div-input">
                    <input type="text" name="search" placeholder="BUSCAR" class="input-search">
                </div>
            </form>
        </div>

        <!-- MENU DE NAVEGACION -->
        <nav class="header-container-nav">

            <label for="check" class="nav-label">
                <img src="/images/icons/bars.svg" alt="bar" class="btn-nav-bars">
            </label>
            <input type="checkbox" id="check" class="check-input">
            <div class="nav-menu-link">
        
                <a href="#" class="nav-link">MENU</a>
                    <a href="/usuarios/login" class="nav-link">INGRESA</a>
                    <a href="/usuarios/logout" class="nav-link" >CERRAR SESION</a>
                    <a href="/admin"  class="nav-link" >ADMIN</a>
                    
          

                <!-- CARRITO DE COMPRAS PHONE-->
                <div class="header-container-shopping-phone">
                    <img src="/images/icons/carrito-de-compras.png" class="img-shopping" alt=" shopping cart">
                </div>
            </div>

        </nav>
        <!-- CARRITO DE COMPRAS DESKTOP-->
        <div class="header-container-shopping-desktop">
            <img src="/images/icons/carrito-de-compras.png" class="img-shopping" alt=" shopping cart">
        </div>
        <!-- AVATAR -->
        <div class="header-container-avatar">
            <img src="/images/icons/avatarSushi.jpg" alt="avatar" class="img-avatar">
            <div class="avatar-state">

            </div>
        </div>
    </div>
</header>
<!-- END HEADER -->