<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <style>
            footer{
                bottom: -150vh;
            }
            @media (max-width: 767px) {
            footer{
                bottom: -170vh;
            }
            }
            @media (min-width: 768px) {
            footer{
                bottom: -120vh;
            }
            
            }
            @media (min-width: 960px) {
            footer{
                bottom: -150vh;
            }

            }
        </style>
        <%- include('../partials/header.ejs') %>
            <!-- INICIO -->
            <main>

                <div class="slider">
                    <div class="slider_container">
                        <!-- Slides -->
                        <ul class="slides">
                            <li id="slide1">
                                <img src="/images/imgs/plato6.jpg" alt="Oferta1">
                            </li>
                            <li id="slide2">
                                <img src="/images/imgs/sushiman.jpg" alt="Oferta2">
                            </li>
                            <li id="slide3">
                                <img src="/images/imgs/plato4.jpg" alt="Oferta3">
                            </li>
                        </ul>
                        <!-- Texto central -->
                        <div class="text_container">
                            <div class="texto">
                                <span><a href="#" class="btn_img">Seleccioná esta oferta</a></span>
                            </div>
                        </div>
                        <!-- MenuSlide -->
                        <div class="menu">
                            <ul class="menu_slider">
                                <li>
                                    <a href="#slide1" class="btn_img"></a>
                                </li>
                                <li>
                                    <a href="#slide2" class="btn_img"></a>
                                </li>
                                <li>
                                    <a href="#slide3" class="btn_img"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>




                <!-- Slide TWEETS -->

                <div class="slider2_container">
                    <!-- TWEETS -->
                    <ul class="tweets">
                        <li class="tweet" id="tweet1">
                            <blockquote class="twitter-tweet" data-theme="dark">
                                <p lang="es" dir="ltr">Es un placer volver a <a
                                        href="https://twitter.com/hashtag/RestoSushi?src=hash&amp;ref_src=twsrc%5Etfw">#RestoSushi</a>,
                                    está vez junto a la empresa, aprovechando el increíble espacio para eventos.</p>
                                &mdash; Lp
                                (@lucaspuma32) <a
                                    href="https://twitter.com/lucaspuma32/status/1503443505355448325?ref_src=twsrc%5Etfw">March
                                    14, 2022</a>
                            </blockquote>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </li>
                        <li class="tweet" id="tweet2">
                            <blockquote class="twitter-tweet">
                                <p lang="es" dir="ltr">Es un placer volver a <a
                                        href="https://twitter.com/hashtag/RestoSushi?src=hash&amp;ref_src=twsrc%5Etfw">#RestoSushi</a>,
                                    está vez junto a la empresa, aprovechando el increíble espacio para eventos.</p>
                                &mdash; Lp
                                (@lucaspuma32) <a
                                    href="https://twitter.com/lucaspuma32/status/1503443505355448325?ref_src=twsrc%5Etfw">March
                                    14, 2022</a>
                            </blockquote>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </li>
                        <li class="tweet" id="tweet3">
                            <blockquote class="twitter-tweet" data-theme="dark">
                                <p lang="es" dir="ltr">Es un placer volver a <a
                                        href="https://twitter.com/hashtag/RestoSushi?src=hash&amp;ref_src=twsrc%5Etfw">#RestoSushi</a>,
                                    está vez junto a la empresa, aprovechando el increíble espacio para eventos.</p>
                                &mdash; Lp
                                (@lucaspuma32) <a
                                    href="https://twitter.com/lucaspuma32/status/1503443505355448325?ref_src=twsrc%5Etfw">March
                                    14, 2022</a>
                            </blockquote>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </li>
                    </ul>

                    <div class="menu_tweets">
                        <ul class="btns">
                            <li>
                                <a href="#tweet1" class="btn_slide"></a>
                            </li>

                            <li>
                                <a href="#tweet2" class="btn_slide"></a>
                            </li>

                            <li>
                                <a href="#tweet3" class="btn_slide"></a>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="ubicacion">
                    <iframe class="mapa"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39859.10929096426!2d-58.45177432092184!3d-34.56980214573151!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb59c771eb933%3A0x6b3113b596d78c69!2sPalermo%2C%20CABA!5e0!3m2!1ses-419!2sar!4v1647456922009!5m2!1ses-419!2sar"
                        style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>



                <!-- WSP ICON -->
                <div class="wsp">
                    <i class="fa-brands fa-whatsapp"></i>
                </div>

            </main>
            <%- include('../partials/footer.ejs') %>



    </body>

</html>